div h1{
text-align: center;
margin: auto;
padding-top: 40 cm;
font-family: 'Aladin';
}

div p{
color: red;
margin: auto;
text-align: center;
font-family: 'Aladin';
}

body{
    background-color: #CD853F;
}