div h1{
text-align: center;
margin-top: 50px;
font-family: 'Aladin';
}

div p{
margin: auto;
text-align: center;
font-family: 'Aladin';
font-size: 100px;
color: #654321;
}

body{
    background-color: #CD853F;
}
div{
    
}