p.mole{
margin-top: 25px;
text-align: center;
font-family: 'Aladin';
font-size: 100px;
color: #654321;
}

.mol{
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Aladin';
    font-size: 25px;
    color: white;
}

body{
    background-color: #CD853F;
}
.middle{
    margin: center;
    text-align: center;
}

.atom {
    margin-top: 25px;
    text-align: center;
    font-family: 'Aladin';
    font-size: 20px;
    color: #654321;
}

#myInput{
    margin: auto;

}
.slogan {
	text-align: center;
	color: #F8F8FF;
	font-family: 'Aladin';
}