div h1{
text-align: center;
margin: auto;
padding-top: 100 cm;
font-family: 'Aladin';
}

div p{
margin: auto;
text-align: center;
font-family: 'Aladin';
font-size: 300px;
color: red;
}

body{
    background-color: #CD853F;
}