div h1{
text-align: center;
margin-top: 25px;
font-family: 'Aladin';
}

p.mole{
margin: auto;
text-align: center;
font-family: 'Aladin';
font-size: 100px;
color: #654321;
}

.mol{
    margin:auto;
    text-align: center;
    font-family: 'Aladin';
    font-size: 25px;
    color: black;
}

body{
    background-color: #CD853F;
}
div.middle{
    margin: auto;
}

.atom {
    te
}