body{
    background-color: #CD853F;
}
.mole{
    text-align: center;
    font-family: 'Aladin';
    font-size: 90px;
    color: #654321;
    margin-bottom: 0px;
    margin-top: 0px;
}
.mol{
    text-align: center;
    font-family: 'Aladin';
    font-size: 25px;
    color: white;
    margin-top: 0px;
}

.atom {
    margin-top: 25px;
    text-align: center;
    font-family: 'Aladin';
    font-size: 20px;
    color: #654321;
}

.slogan {
    text-align: center;
    color: #F8F8FF;
    font-family: 'Aladin';
    bottom: 2px;
    position: absolute;
}

.humans{
    color: white;
}


