div h1{
text-align: center;
margin-top: 25px;
font-family: 'Aladin';
}

p.mole{
margin: auto;
text-align: center;
font-family: 'Aladin';
font-size: 100px;
color: #654321;
}

body{
    background-color: #CD853F;
}
.middle{
    margin: auto;
}

.atom {
    te
}